{% extends 'base.html' %}

{% block body %}
<div class="container my-5">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.images.label(class="form-label") }}
            {{ form.images(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">บันทึก</button>
    </form>
</div>
{% endblock %}