{% extends 'base.html' %}
{% block body %}
<h3 class="my-2">Register</h3>
<form action="" method="POST">
{{ form.hidden_tag() }}
<div class="form-group my-3">
{{ form.name.label }}
{{ form.name(class_='form-control',value=form_name) }}
</div>
<div class="form-group my-3">
{{ form.username.label }}
{{ form.username(class_='form-control',value=form_name) }}
</div>
<div class="form-group my-3">
{{ form.password.label }}
{{ form.password(class_='form-control',value=form_name) }}
</div>
<button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}